body{margin:0;padding:0;background-color:#fff;margin-top:5%;font-family:'Montserrat', sans-serif}
hr{width:20%;margin-left:auto;margin-right:auto;height:6px;background:#872220;border-radius:15px}
h1,h2{color:#000;text-align:center;text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);}
h2,h3,h4{text-align:center}
h1{font-weight:550;font-size:55px;margin-bottom:5%;margin-top:5%;line-height:1.3}
h2{font-size:40px;font-weight:530;margin:10% 3% 2%;text-transform: uppercase;}
h3{color:#222;font-weight:200;font-size:18px;margin:2% 3% 5%;line-height:1.5}
h4{margin:5% 3%;font-size:20px;font-weight:350}
.hr{margin:5% auto auto;width:90%}
p{color:#222;font-size:20px;margin-left:5%;margin-right:5%;text-align:center;padding:2%;line-height:1.7;word-spacing:5px}
.formul h2{font-size:22px;margin-top:3%;margin-bottom:3%}
.strong-color{color:#872220}
a{text-decoration:none;color:#222;font-weight:600}
.histoire{background-color:#222;padding:2% 0;width:80%;margin:10% auto;box-shadow:2px 3px 0 2px #872220;border-radius:20px 20px 20px 0}
.histoire h4,.histoire p{color:#fff}
#tarif{background-color:#fff;padding:2%;width:50%;margin:10% auto; border: #872220 2px solid;}
#tarif h2,#tarif h3,#tarif p{color:#222}
#tarif p{text-align:left}
#tarif a{color:#fff}
.valeur h3,.valeur h4{margin-bottom:0;color:#fff;text-align:left}
.valeur h3,.valeur h4,.valeur p{text-align:left}
.valeur{background-color:#222;width:75%;margin-left:auto;margin-right:auto;box-shadow:2px 3px 0 2px #872220;opacity:0;transform:translateX(-50%);transition:opacity .5s,transform 1s;border-radius:20px 20px 20px 0}
.valeur.slide-in-done{opacity:1;transform:translateX(0)}
.valeur .confiance{display:flex;align-items:center;margin-top:5%;margin-left:2%;font-size:35px;text-align:left}
.valeur h3{display:flex;align-items:center;font-size:30px}
.valeur h4{font-size:20px;margin-top:3%}
.valeur p{margin-left:0;color:#fff;font-size:17px;margin-top:0}
.icon,.logo,.navbar{display:flex}
.nav-menu,.navbar{background-color:#fff;left:0;right:0}
*{box-sizing:border-box;outline:0;margin:0;padding:0}
.navbar{padding:10px;justify-content:space-between;align-items:center;position:fixed;top:0;z-index:1222;height:11%}
.logo{align-items:center;max-height:90px;min-height:90px;margin-left:0}
.icon{fill:#000;cursor:pointer;align-items:center;margin-right:3%}
.dropdown,.nav-menu,.navbar input{display:none}
[id^=btn]:checked+ul{display:block}
.nav-menu{position:absolute;top:99%}
.drop-item a,.ni a,.show{color:#000;text-decoration:none;font-size:1.2rem;line-height:3;display:block;text-align:center}
.drop-item a{margin-left:8%;font-size:1rem}
.nav-menu a:hover,.show:hover{color:#690000}
.ii{position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;height:600px}
.background-image{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:-1}
.ii h1{width:80%;padding: 1%;margin-top:auto;z-index:1;border-radius: 15px;text-align: center;color: #fff;}
.button2.slide-up{opacity:1;transform:translateY(0)}
.cont-ind{display:flex;align-items:center;margin-top:7%;margin-bottom:7%}
.cont-ind .text{text-align:center}
.image{width:40%;margin-left:5%;height:270px}
.cont-ind2{display:flex;align-items:center;margin-top:7%;margin-bottom:7%}
.image2{width:40%;height:270px;margin-right:5%}
.cont-ind2 .text2{text-align:center}
.realisation-pc{display:flex;justify-content:center;margin-top:5%;margin-bottom:7%;gap:5%}
.realisation-pc img{width:20%;height:auto}
.seo-one img{display:flex;justify-content:center;width:15%;height:auto;margin:7% auto 5%}
.seo-one h3{font-size:22px;margin-bottom:3%}
.seo-one2 img{display:flex;justify-content:center;width:20%;height:auto;margin:7% auto 5%}
.seo-one2 p,.seo-one3 p{margin-left:3%;margin-right:3%;text-align:left}
.seo-one2 h3{font-size:20px;text-align:left;font-weight:600;margin:10% 5% 3% 6%}
.seo-one3 img{display:flex;justify-content:center;width:20%;height:auto;margin:5% auto 3%}
.seo-one3 h3{font-size:20px;text-align:left;font-weight:600;margin:10% 5% 3% 6%}
#contact{margin-top:10%;padding:2%;background-color:#222}
#contact h5{text-align:center;margin:5% 3% 3%;color:#fff;font-weight:600;font-size:20px}
#contact p{color:#fff}
.liens a{margin:0;color:#fff;font-size:16px}
.liens-wp a,.liens-wp p{color:#fff;font-size:12px}
.button1{background-color:#872220;color:#fff;padding:1% 5%;border-radius:25px;text-decoration:none;margin-top:auto;margin-bottom:5%;z-index:1;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)}
.bouton-devis2{display:flex;justify-content:center;background-color:#872220;font-size:22px;padding:1%;border-radius:25px;text-decoration:none;margin:2% 35%;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)}
.button2{opacity:0;transform:translateY(50px);transition:opacity 0.5s,transform .5s;display:flex;justify-content:center;background-color:#222;color:#fff;font-size:20px;padding:1%;text-decoration:none;border-radius:25px;margin:2% 35%;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)}
.button2:hover{background-color:#01002c}
.button2:hover, .button1:hover,.formul button:hover{background-color:#872220}
.formul{display:flex;flex-direction:column;align-items:center;margin:5% auto;width:50%;background-color:#222;padding:20px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);color:#fff;border-radius:20px}
.image-container{display:flex;justify-content:center;align-items:center;background-color:#fff;padding:1%;margin-left:37%;margin-right:37%;margin-bottom:20px;border-radius:20px}
.image-container img{width:100%;height:auto;border-radius:20px}
.formul label{display:block;margin-bottom:8px;font-size:20px;color:#fff}
.formul input,.formul select{width:100%;height:35px;padding:8px;margin-bottom:16px;box-sizing:border-box;border-radius:10px;border:1px solid #333;background-color:#f2f2f2;color:#222}
.formul button{display:flex;justify-content:center;background-color:#872220;color:#fff;padding:10px 60px;font-size:18px;margin:3% auto 2%;border:none;border-radius:4px;cursor:pointer}
form{width:90%}
.formul textarea{width:100%;padding:8px;margin-bottom:3%;box-sizing:border-box;border-radius:10px;border:1px solid #333;background-color:#f2f2f2;color:#222;resize:vertical}
.liens-wp a,.liens-wp h6{font-size:13px;color:#fff;text-align:center;font-weight:300;margin-top:3%}
.elfsight-app-6a9fd721-250b-4039-9e48-555420b3700e {width: 90%;margin-left: auto;margin-right: auto;margin-top: 5%;}
.number,.one-mob,.realisation{display:none}
@media screen and (max-width:767.98px) {
h1,h2{color:#000}
h4,p{color:#222;text-align:center}
h1,h2,h3,h4,p{text-align:center}
h1{font-weight:550;font-size:28px;margin-bottom:-2%;margin-top:5%}
h2{margin-top:10%;margin-bottom:10%;font-size:28px;font-weight:530}
h3{font-weight:200;font-size:17px;margin:3% 3% 7%}
h4{margin:5% 3%;font-size:18px;font-weight:350}
p{font-size:18px;margin-left:5%;margin-right:5%;padding:2%}
.histoire p,.valeur p{color:#fff;font-size:17px}
hr{width:40%;margin-bottom:2%}
.formul h2{font-size:18px;margin-top:2%;margin-bottom:6%}
body{margin-top:18%}
.icon,.logo,.navbar{display:flex}
.nav-menu,.navbar{left:0;right:0}
.navbar{padding:10px;justify-content:space-between;align-items:center;position:fixed;top:0;z-index:1222;height:11%}
.logo{align-items:center;max-height:120px;min-height:120px;margin-left:-5%}
.icon{fill:#000;cursor:pointer;align-items:center}
.dropdown,.nav-menu,.navbar input{display:none}
[id^=btn]:checked+ul{display:block}
.nav-menu{position:absolute;top:98%}
.drop-item a,.ni a,.show{text-decoration:none;font-size:1.2rem;line-height:2.5}
.drop-item a{margin-left:8%;font-size:1.1rem}
.ii{background-size:cover;background-position:center;background-repeat:no-repeat;height:350px;position:relative;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center}
#value,#prestation,#realisation,.histoire{margin-top:15%}
.histoire{width:95%}
#prestation{margin-top:17%}
#tarif{width:95%;margin-top:15%;margin-bottom:15%}
#value{margin-bottom:13%}
.valeur .confiance,.valeur h3{display:flex;text-align:left;margin-top:5%}
.valeur{width:95%;padding-left:3%;padding-right:3%;margin-bottom:10%;margin-left:auto;margin-right:auto;box-shadow:2px 3px 0 2px #872220;opacity:0;transform:translateX(-50%);transition:opacity .5s,transform 1s;border-radius:20px 20px 20px 0}
.valeur .confiance{align-items:center;margin-left:5%;color:#222;font-size:40px}
.valeur h3{align-items:center;color:#fff;font-size:20px;margin-bottom:2%;margin-left:1%}
.valeur h4,.valeur p{color:#fff;text-align:left;margin-top:3%}
.valeur h4{font-size:15px;margin-bottom:0}
.valeur p{margin-left:0;font-size:13px;padding-bottom:5%;font-weight:100}
.one-mob{display:flex;flex-direction:column;align-items:center}
.one-mob h3{opacity:0;transform:translateY(50px);transition:opacity .5s,transform .5s;margin-top:3%}
.one-mob h3.slide-up,.button2.slide-up{opacity:1;transform:translateY(0)}
.seo-one2 p{margin-left:3%;margin-right:3%}
.seo-one2 h3{font-size:20px;text-align:left;margin:10% 5% 3% 6%}
.seo-one3 h2{margin-top: 10%;margin-bottom: 8%;font-size: 23px;}
.seo-one3 img{display:flex;width:80%;margin:0 auto 6%}
.seo-one3 h3{font-size:18px;text-align:left;margin:5% 5% 3% 6%}
.icon-item1,.icon-item2,.icon-item3,.icon-item4{text-align:center;margin:5px 0;position:relative; width: 90%;margin-left: auto;margin-right: auto;padding: 3%;border: solid 1px #752220;border-radius: 15px;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);margin-bottom: 4%;}
.icon-item1 img,.icon-item2 img,.icon-item3 img,.icon-item4 img{width:100%;height:auto;margin-bottom:3%;border-radius: 10px;}
.icon-item1 p,.icon-item2 p,.icon-item3 p,.icon-item4 p{margin-bottom:0;font-size:18px;letter-spacing:2px;}
.seo-one h2,.seo-one2 h2{font-size:25px;margin:15% 2% 4%}
.seo-one img{display:flex;width:30%;margin-left:auto;margin-right:auto;margin-top:15%}
.seo-one2 img{display:flex;width:70%;margin:10% auto 8%}
.seo-one h3{margin-top:5%;margin-bottom:7%}
.seo-one p,.seo-one2 p{text-align:left}
.button1{padding:2% 8%;border-radius:25px;text-decoration:none;margin-top:auto;margin-bottom:10%}
.bouton-devis2{font-size:18px;padding:3%;margin:5% 20% 7%}
.button2{display:flex;justify-content:center;color:#fff;font-size:17px;padding:2%;text-decoration:none;opacity:0;transform:translateY(50px);transition:opacity 0.5s,transform .5s;margin:5% 15% 10%}
.realisation{display:flex;justify-content:center;margin-bottom:10%}
.realisation img{width:80%;height:auto;margin:0 2%}
#contact{padding-top:4%;padding-bottom:4%;margin-top:20%}
#contact h5{margin-top:10%;margin-bottom:5%;font-weight:600}
#contact p{text-align:center;margin:0 0 3%;color:#fff;font-size:13px}
.number{display:flex;position:fixed;padding:1% 2%;background-color:#222;right:4%;bottom:5%;border-radius:20px;z-index: 5}
.number a{font-size:18px;font-weight:500;color:#fff;text-decoration:none}
.liens-wp a,.liens-wp h6{font-size:13px;color:#fff;text-align:center;font-weight:300;margin-top:5%}
.liens-wp{margin-bottom:-3%}
.formul{display:flex;flex-direction:column;align-items:center;margin:5% auto;width:90%;padding:20px}
.image-container{background-color:#fff;padding:1%;margin-left:28%;margin-right:28%;margin-bottom:10%;border-radius:20px}
.image-container img{width:80%;height:auto;border-radius:20px}
.formul label{display:block;margin-bottom:8px;font-size:20px;margin-left:2%}
.formul input,.formul select{width:100%;height:35px;padding:8px;margin-bottom:16px;box-sizing:border-box}
.formul button{display:flex;justify-content:center;color:#fff;padding:10px 40px;font-size:18px;margin:3% auto 2%;border:none;border-radius:4px;cursor:pointer}
.formul button:hover{background-color:#ffbb55}
form{width:95%}
.elfsight-app-6a9fd721-250b-4039-9e48-555420b3700e {width: 90%;margin-left: auto;margin-right: auto;margin-top: 10%;}
.realisation-pc,.cont-ind,.cont-ind2{display:none}
}